html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color-primary);
  background-size: 100%;
  background-position: bottom;
  background-color: var(--background-color-primary);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  margin: 16px;
}

details[open] summary {
  margin-bottom: 8px;
}

h1,
h2 {
  margin: 16px;
}

label {
  margin-right: 10px;
}

input {
  text-align: center;
}

button {
  margin: 16px;
}

.silhouette {
  filter: contrast(0%) brightness(var(--silhouette-brightness-ratio));
}

.preloader,
.silhouette,
.sprite {
  height: 40vh;
  width: 40vh;
}